# ELECTRICITY PRICE PREDICTION

## IMPORT THE NECESSARY PACKAGES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

## LOAD THE DATASET

In [2]:

data = pd.read_csv("Electricity.csv")

C:\Users\SANJAY\AppData\Local\Temp\ipykernel_5072\1267927612.py:2: DtypeWarning: Columns (9,10,11,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Electricity.csv")

## EXPLORE THE DATASET

In [8]:
data.head()

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
0,01/11/2011 00:00,NaN,0,1,44,1,11,2011,0,315.31,3388.77,49.26,6.00,9.30,600.71,356.00,3159.60,54.32
1,01/11/2011 00:30,NaN,0,1,44,1,11,2011,1,321.80,3196.66,49.26,6.00,11.10,605.42,317.00,2973.01,54.23
2,01/11/2011 01:00,NaN,0,1,44,1,11,2011,2,328.57,3060.71,49.10,5.00,11.10,589.97,311.00,2834.00,54.23
3,01/11/2011 01:30,NaN,0,1,44,1,11,2011,3,335.60,2945.56,48.04,6.00,9.30,585.94,313.00,2725.99,53.47
4,01/11/2011 02:00,NaN,0,1,44,1,11,2011,4,342.90,2849.34,33.75,6.00,11.10,571.52,346.00,2655.64,39.87

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38014 entries, 0 to 38013
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DateTime                38014 non-null  object
 1   Holiday                 35470 non-null  object
 2   HolidayFlag             38014 non-null  int64
 3   DayOfWeek               38014 non-null  int64
 4   WeekOfYear              38014 non-null  int64
 5   Day                     38014 non-null  int64
 6   Month                   38014 non-null  int64
 7   Year                    38014 non-null  int64
 8   PeriodOfDay             38014 non-null  int64
 9   ForecastWindProduction  38014 non-null  object
 10  SystemLoadEA            38014 non-null  object
 11  SMPEA                   38014 non-null  object
 12  ORKTemperature          38014 non-null  object
 13  ORKWindspeed            38014 non-null  object
 14  CO2Intensity            38014 non-null  object
 15  ActualWindProduction    38014 non-null  object
 16  SystemLoadEP2           38014 non-null  object
 17  SMPEP2                  38014 non-null  object
dtypes: int64(7), object(11)
memory usage: 5.2+ MB

In [3]:
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38014 entries, 0 to 38013
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DateTime                38014 non-null  object
 1   Holiday                 1536 non-null   object
 2   HolidayFlag             38014 non-null  int64
 3   DayOfWeek               38014 non-null  int64
 4   WeekOfYear              38014 non-null  int64
 5   Day                     38014 non-null  int64
 6   Month                   38014 non-null  int64
 7   Year                    38014 non-null  int64
 8   PeriodOfDay             38014 non-null  int64
 9   ForecastWindProduction  38014 non-null  object
 10  SystemLoadEA            38014 non-null  object
 11  SMPEA                   38014 non-null  object
 12  ORKTemperature          38014 non-null  object
 13  ORKWindspeed            38014 non-null  object
 14  CO2Intensity            38014 non-null  object
 15  ActualWindProduction    38014 non-null  object
 16  SystemLoadEP2           38014 non-null  object
 17  SMPEP2                  38014 non-null  object
dtypes: int64(7), object(11)
memory usage: 5.2+ MB

,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay
count,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000,38014.000000
mean,0.040406,2.997317,28.124586,15.739412,6.904246,2012.383859,23.501105
std,0.196912,1.999959,15.587575,8.804247,3.573696,0.624956,13.853108
min,0.000000,0.000000,1.000000,1.000000,1.000000,2011.000000,0.000000
25%,0.000000,1.000000,15.000000,8.000000,4.000000,2012.000000,12.000000
50%,0.000000,3.000000,29.000000,16.000000,7.000000,2012.000000,24.000000
75%,0.000000,5.000000,43.000000,23.000000,10.000000,2013.000000,35.750000
max,1.000000,6.000000,52.000000,31.000000,12.000000,2013.000000,47.000000

In [28]:
data.shape

(38014, 18)

In [10]:
data.isnull().sum()

DateTime                     0
Holiday                   2544
HolidayFlag                  0
DayOfWeek                    0
WeekOfYear                   0
Day                          0
Month                        0
Year                         0
PeriodOfDay                  0
ForecastWindProduction       0
SystemLoadEA                 0
SMPEA                        0
ORKTemperature               0
ORKWindspeed                 0
CO2Intensity                 0
ActualWindProduction         0
SystemLoadEP2                0
SMPEP2                       0
dtype: int64

## DATA PRE-PROCESSING

In [11]:
data_cleaned =data.dropna()

data_cleaned.info()

data_cleaned.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 35470 entries, 2544 to 38013
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DateTime                35470 non-null  object
 1   Holiday                 35470 non-null  object
 2   HolidayFlag             35470 non-null  int64
 3   DayOfWeek               35470 non-null  int64
 4   WeekOfYear              35470 non-null  int64
 5   Day                     35470 non-null  int64
 6   Month                   35470 non-null  int64
 7   Year                    35470 non-null  int64
 8   PeriodOfDay             35470 non-null  int64
 9   ForecastWindProduction  35470 non-null  object
 10  SystemLoadEA            35470 non-null  object
 11  SMPEA                   35470 non-null  object
 12  ORKTemperature          35470 non-null  object
 13  ORKWindspeed            35470 non-null  object
 14  CO2Intensity            35470 non-null  object
 15  ActualWindProduction    35470 non-null  object
 16  SystemLoadEP2           35470 non-null  object
 17  SMPEP2                  35470 non-null  object
dtypes: int64(7), object(11)
memory usage: 5.1+ MB

,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay
count,35470.000000,35470.000000,35470.000000,35470.000000,35470.000000,35470.000000,35470.000000
mean,0.043304,2.999831,26.739667,15.865520,6.579363,2012.483112,23.501184
std,0.203544,2.003338,15.211544,8.843639,3.477424,0.520936,13.853087
min,0.000000,0.000000,1.000000,1.000000,1.000000,2011.000000,0.000000
25%,0.000000,1.000000,14.000000,8.000000,4.000000,2012.000000,12.000000
50%,0.000000,3.000000,27.000000,16.000000,7.000000,2012.000000,24.000000
75%,0.000000,5.000000,40.000000,24.000000,10.000000,2013.000000,35.750000
max,1.000000,6.000000,52.000000,31.000000,12.000000,2013.000000,47.000000

### DATA CLEANING

In [13]:
data_new =data_cleaned.drop(['SystemLoadEA'],axis = 1)
data_new.head()

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
2544,24/12/2011 00:00,Christmas Eve,1,5,51,24,12,2011,0,718.70,44.96,2.00,11.10,477.20,666.00,3634.24,44.96
2545,24/12/2011 00:30,Christmas Eve,1,5,51,24,12,2011,1,741.10,44.54,3.00,18.50,467.15,641.00,3382.16,44.96
2546,24/12/2011 01:00,Christmas Eve,1,5,51,24,12,2011,2,768.00,42.73,3.00,16.70,469.53,644.00,3204.06,44.54
2547,24/12/2011 01:30,Christmas Eve,1,5,51,24,12,2011,3,806.90,41.72,4.00,14.80,467.95,645.00,2997.83,43.48
2548,24/12/2011 02:00,Christmas Eve,1,5,51,24,12,2011,4,845.90,41.56,3.00,11.10,470.66,693.00,2831.80,41.72

In [17]:
data_new.reset_index(drop=True, inplace=True)

#### AFTER PRE-PROCESSING THE DATA WILL BE LIKE THIS

In [18]:
data_new.head()

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
0,24/12/2011 00:00,Christmas Eve,1,5,51,24,12,2011,0,718.70,44.96,2.00,11.10,477.20,666.00,3634.24,44.96
1,24/12/2011 00:30,Christmas Eve,1,5,51,24,12,2011,1,741.10,44.54,3.00,18.50,467.15,641.00,3382.16,44.96
2,24/12/2011 01:00,Christmas Eve,1,5,51,24,12,2011,2,768.00,42.73,3.00,16.70,469.53,644.00,3204.06,44.54
3,24/12/2011 01:30,Christmas Eve,1,5,51,24,12,2011,3,806.90,41.72,4.00,14.80,467.95,645.00,2997.83,43.48
4,24/12/2011 02:00,Christmas Eve,1,5,51,24,12,2011,4,845.90,41.56,3.00,11.10,470.66,693.00,2831.80,41.72